

<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Coucou c'est nous !</h1>
<h3>Alors dans la team Bali est 4 ...</h3>
<ul>
	<li>- Leila, alias leilacha, autant te dire que ce site est fait pour elle</li>
	<li>- Sophie, qui passe son temps à miauler dans la baraque, ça a vraiment été une source d'inspiration pour ce projet</li>
	<li>- Fabien, qui s'est découvert une passion pour les races de chat génétiquement créer aux US</li>
	<li>- Seb, qui aime bien les chats et le code !</li>
</ul>
				</div>
			</div>
		</div>