<section id="contact" class="contact contact-with-map">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 box">
                        <h5 class="heading mt-60 mb-0 mr-0"><span>//</span> Coucou c'est nous !</h5>
                    </div>
                    
                    <div class="col-md-8 col-md-push-1">
                        <p>Alors dans la team Bali on est 4 :</p>
							<ul id="about">
								<li><p>Leila ! alias Leilacha, autant te dire que ce site est fait pour elle</p></li>
								<li><p>Sophie, qui passe son temps à miauler dans la baraque, ça a vraiment été une source d'inspiration pour ce projet</p></li>
								<li><p>Fabien, qui s'est découvert une passion pour les races de chat génétiquement créées aux US</p></li>
								<li><p>Seb, qui aime bien les chats et le code !</p></li>
							</ul>
                    </div>
                </div>
            </div>
</section>