		<div class="container">
			<div class="row">
				<div class="error-page col-md-8 col-md-push-2">
					<div class="error-page-info text-center mb-60">
						<h1 class="mt-60">On bosse dessus !</h1>
						<p>Puisque tu es impatient, voici de quoi patienter ! </p>
					</div>
					
									
				<div class="width-100 box mt-30">
					<h5 class="heading mr-0 mb-30"><span>//</span> Ca devrait ressembler à ça :
					
				</h5>
					<div class="swiper-container">
				       
				            <div class="swiper-slide">
				           
				    			<div class="product-box product-box-vertical pb-30 ">
					    			<div class="product-box-wrapper product-box-wrapper-bg no-padding">
					    									    				
					    				<div class="product-box-image" align="center">
					    						
						    					<%= image_tag "https://i.pinimg.com/736x/9f/7e/f8/9f7ef8417c3e9b2f5847b027eb232ce7--cardboard-castle-cardboard-toys-for-kids.jpg", :style => "height: 200px" %>
						    					<%= image_tag "http://www.humoristique.info/images-droles/animaux/chat+perche+sur+un+tuyau.jpg", :style => "height: 200px" %>
						    					<%= image_tag "http://img1.ndsstatic.com/best-friends/maurice-un-prenom-classe-pour-un-chat-classe_193917_w620.jpg", :style => "height: 200px" %>
						    					<%= image_tag "https://i.pinimg.com/236x/58/a4/b0/58a4b0b926dba21be3e4ffc671b188c8--mini-husky-alaskan-klee-kai.jpg", :style => "height: 200px" %>
					    				</div>				    				
										
				    				</div>
				    			</div>
	    					
				            </div>
				       
				</div>
			</div>
		</div>
