<section id="contact" class="contact contact-with-map">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 box">

        <h2>Merci d'avoir passé une commande chez nous !</h2>
<p>La Team Bali vous remercie</p>
<p>Votre commande est la suivante : <%= @order.id %> </p>
                    </div>
                </div>
            </div>
        </section>

