
<h3 align = "center">Voici les images que nous avons en stock :)</h3>

<section id="results">
 
<% @items.each do |item| %>

  <div id = "items" class="w3-card-4 w3-dark-grey" class="flex-container">

    <div id = "poster" class="w3-container w3-center">
      <h4>Titre : <%=item.title%></h4>
      
      <img src=<%=item.image_url%> style="width:50%" id="image_poster">
      <br>
      <p>Prix :<%=item.price%> €</p>
      <p>Nombre de ventes :<%=item.numbersales%></p>

    </div>

  </div>


<% end %>
   
</section>