 <footer class="light-bg ">
	        <div class="footer pt-60 pb-60" id="footer">
	            <div class="container">
	                <div class="row">
	                     <div class="smartphone-fw col-sm-3">
	                     <h6 class="heading mt-0"><span>//</span> CONTACT DATA</h6>
	                            <address>
	                                <strong>Laurent store</strong><br>
	                                1355 Market Street, Suite 900<br>
	                                San Francisco, CA 94103<br>
	                                (123) 456-7890
	                            </address>


	                        </div>
	                    <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2">
	                        <h6 class="heading mt-0"><span>//</span> INFORMATION</h6>
	                        <ul>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                        </ul>
	                    </div>

	                    <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2">
	                        <h6 class="heading mt-0"><span>//</span> TOP CATEGORIES</h6>
	                        <ul>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                        </ul>
	                    </div>

	                    <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2">
	                        <h6 class="heading mt-0"><span>//</span> ACCOUNT</h6>
	                        <ul>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                            <li> <a href="#"> Lorem Ipsum </a> </li>
	                        </ul>
	                    </div>
	     
	                    <div class="col-xs-12 col-sm-6 col-md-3">
	                        <h6 class="heading mt-0"><span>//</span> STAY IN TOUCH</h6>

	                        <form>
	                            <fieldset>
									<div class="form-group">
										<div class="footer-newsletter">
											<input class="form-control" id="firstName" placeholder="First name" type="text">
											<button class="btn btn-link" type="button"><span class="ti-plus"></span></button>
										</div>
									</div>
								</fieldset>
	                        </form>

	                        <ul class="footer-social" data-wow-delay="0.6s">
	                            <li><a href="#" class="pull-left"><span class="ti-facebook"></span></a></li>
	                            <li><a href="#" class="pull-left"><span class="ti-twitter"></span></a></li>
	                            <li><a href="#" class="pull-left"><span class="ti-instagram"></span></a></li>
	                            <li><a href="#" class="pull-left"><span class="ti-youtube"></span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        
	        <div class="footer-bottom">
	            <div class="container">
	                <p class="pull-left"> Copyright © Laurent 2017. All right reserved. </p>
	            </div>
	        </div>
</footer>