 <footer class="light-bg ">
	        <div class="footer pt-60 pb-60" id="footer">
	            <div class="container">
	                <div class="row">
	                     <div class="smartphone-fw col-sm-3">
	                     <h6 class="heading mt-0"><span>//</span> CONTACT </h6>
	                            <address>
	                                <strong>Team Bali</strong><br>
	                                Hotel Puri Sanur, Danau Buyan Street<br>
	                                Sanur, Bali<br>
	                            </address>


	                        </div>
	                    <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2">
	                        <h6 class="heading mt-0"><span>//</span> INFORMATION</h6>
	                        <ul>
	                            <li> <%= link_to "A propos de nous", static_pages_about_path%>                           
	                        </ul>
	                    </div>

	                    <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2">
	                        <h6 class="heading mt-0"><span>//</span> TOP CATEGORIES</h6>
	                        <ul>
	                            <li> <a href="/"> Featured </a> </li>
	                            <li> <a href="/"> Bestsellers </a> </li>
	                            <li> <a href="/"> New </a> </li>
	                        </ul>
	                    </div>

	                    <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2">
	                        <h6 class="heading mt-0"><span>//</span> COMPTE</h6>
	                        <ul>
	                            <li><%= link_to "Editer ton compte", edit_user_registration_path%></li>
	                            <li><%= link_to "Log out", destroy_user_session_path, method: :delete%>
	                            <li><%= link_to "Supprimer ton compte", user_registration_path, method: :delete, data: {confirm: "Really Honey?"}%>
	                            </li>
	                        </ul>
	                    </div>
	     
	                    <div class="col-xs-12 col-sm-6 col-md-3">
	                        <h6 class="heading mt-0"><span>//</span> GARDONS CONTACT !</h6>

	                        <ul class="footer-social" data-wow-delay="0.6s">
	                            <li><a href="https://www.facebook.com/welovecatsandkittens/" class="pull-left"><span class="ti-facebook"></span></a></li>
	                            <li><a href="https://twitter.com/Cats" class="pull-left"><span class="ti-twitter"></span></a></li>
	                            <li><a href="https://www.instagram.com/cats_of_instagram/?hl=fr" class="pull-left"><span class="ti-instagram"></span></a></li>
	                            <li><a href="https://www.youtube.com/watch?v=iRXJXaLV0n4" class="pull-left"><span class="ti-youtube"></span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        
	        <div class="footer-bottom">
	            <div class="container">
	                <p class="pull-left"> Copyright © TEAM BALI THP All right reserved. </p>
	            </div>
	        </div>
</footer>